.footerContainer { 
    position: fixed;
    bottom: 0;
    left: 200px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    height: 10vh;
    gap: 18px;
    z-index: 1000;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.footerContainer.sidebarClosed {
    left: 60px;
    width: calc(100% - 60px);
}

.footerText {
    font-size: 1rem;
}

.footerIcon { 
    width: 28px;
    height: 28px;
    transition: transform 0.2s ease-in-out;
}

.footerIcon:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .footerContainer {
        left: 0;
        width: 100%;
        flex-shrink: 0;
        margin-top: auto;
        height: 64px;
        padding-bottom: 0;
        transition: none;
        margin: 0;
        padding: 0;
    }

    .footerContainer.sidebarClosed {
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .footerText {
        margin: 0;
        padding: 0;
    }

    .footerIcon {
        margin: 0;
        padding: 0;
    }
}