.sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-right: 0.9px solid rgba(98, 94, 94, 0.87);
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}

.sidebarContainer.closed {
    width: 60px;
    overflow: hidden; 
}

.titleContainer {
    display: flex;
    align-items: center;
    height: 70px;
}

.sidebarTitle, .subTitle {
    transition: opacity 0.3s ease-in-out;
}

.sidebarContainer.closed .sidebarTitle,
.sidebarContainer.closed .subTitle {
    opacity: 0;
}


.sidebarTitle {
    font-size: 1.5rem;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(242, 206, 206), rgb(238, 216, 255), rgb(197, 223, 255));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
    transition: transform 0.2s ease-in-out;
}

.sidebarTitle:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.sidebarList {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebarItem {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
}

.imageIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #292929;
    padding: 3px;
    border-radius: 7px;
    border: 1.5px solid rgb(202, 192, 192,0.8);
}

.titleIcon {
    width: 26px;
    height: 26px;
    margin-left: auto;
    margin-right: 20px;
    background-color: #292929;
    border-radius: 10px;
    border: 1.5px solid rgb(202, 192, 192);
    transition: transform 0.2s ease-in-out;
    padding: 5.5px;
    transform: rotate(180deg);
}

.sidebarLink { 
    text-decoration: none; 
    color: inherit; 
}

.titleIcon.closed {
    transform: rotate(360deg);
    transition: transform 0.2s ease-in-out;
}

.titleIcon:hover {
    transform: rotate(180deg) scale(1.05);
}

.titleIcon.closed:hover {
    transition: transform 0.2s ease-in-out;
    transform: rotate(360deg) scale(1.05);
}


.sidebarItem {
    display: flex;
    align-items: center;
}

.sidebarItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

.subTitle {
    margin-left: 20px;
    font-size: 0.9rem;
}

.navBar {
    display: none;
}


@media (max-width: 768px) {
    .sidebarContainer {
        display: none;
    }

    .navBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }

    .titleContainer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        justify-content: space-between;
    }

    .navbarTitle {
        font-size: 1.5rem;
        padding-left: 20px;
        background-image: linear-gradient(to right, rgb(242, 206, 206), rgb(238, 216, 255), rgb(197, 223, 255));
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        color: transparent;
    }

    .navIcons {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-right: 16px;
    }

    .navIcons .imageIcon {
        width: 29px;
        height: 29px;
    }

    .navbarLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    
}