* {
    box-sizing: border-box;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    background-color: #000000;
}

.appContainer {
    display: flex;
    height: 100vh;
    flex-shrink: 0;
    border-left: 0.9px solid rgba(98, 94, 94, 0.87);
}

.sidebar {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-left: 200px; 
    transition: margin-left 0.3s ease-in-out; 
}

.mainContent.sidebarClosed {
    margin-left: 60px; 
}

@media (max-width: 768px) {
    .appContainer {
        flex-direction: column;
        border-left: 0px;
        height: 100vh;
        overflow: hidden;
    }

    .sidebar {
        justify-self: flex-start;
        padding-top: 0px;
        z-index: 999;
    }

    .mainContent {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 10vh;
    }

    .mainContent.sidebarClosed {
        margin-left: 0;
    }

    .mainContent > :last-child {
        margin-top: auto;
    }
}