
* {
    box-sizing: border-box;
}

body {
    margin: 0; 
}

.appContainer {
    display: flex; 
    height: 100vh;  
    flex-shrink: 0;
    border: 0.9px solid rgba(98, 94, 94, 0.87);
}



.sidebar {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
}
.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-left: 200px; 
    transition: margin-left 0.3s ease-in-out; 
}

.mainContent.sidebarClosed {
    margin-left: 60px; 
}